In [1]:
# numpy and pandas for data manipulation
import numpy as np
import pandas as pd 

# sklearn preprocessing for dealing with categorical variables
from sklearn.preprocessing import LabelEncoder

# File system manangement
import os
from scipy import stats

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Bureau data features
bureau = pd.read_csv('F:/Project/Input_data/bureau.csv')
print('bureau data shape: ', bureau.shape)
bureau.head()

bureau data shape:  (1716428, 17)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [4]:
# Bureau data features
bureau_balance = pd.read_csv('F:/Project/Input_data/bureau_balance.csv')
print('bureau_balance data shape: ', bureau_balance.shape)
bureau_balance.head()

bureau_balance data shape:  (27299925, 3)

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [5]:
# joining bureau and bureau_balance
bureau_mearged = bureau.merge(bureau_balance, how='left', left_on='SK_ID_BUREAU', right_index=True)

In [6]:
bureau_mearged

,SK_ID_CURR,SK_ID_BUREAU_x,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,SK_ID_BUREAU_y,MONTHS_BALANCE,STATUS
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.000,0.000,NaN,0.0,Consumer credit,-131,NaN,6066882,-24,0
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.000,171342.000,NaN,0.0,Credit card,-20,NaN,6066882,-25,0
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.500,NaN,NaN,0.0,Consumer credit,-16,NaN,6066882,-26,0
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.000,NaN,NaN,0.0,Credit card,-16,NaN,6066884,0,C
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.500,0,2700000.000,NaN,NaN,0.0,Consumer credit,-21,NaN,6066884,-1,C
5,215354,5714467,Active,currency 1,-273,0,27460.0,NaN,0.000,0,180000.000,71017.380,108982.620,0.0,Credit card,-31,NaN,6066884,-2,C
6,215354,5714468,Active,currency 1,-43,0,79.0,NaN,0.000,0,42103.800,42103.800,0.000,0.0,Consumer credit,-22,NaN,6066884,-3,C
7,162297,5714469,Closed,currency 1,-1896,0,-1684.0,-1710.0,14985.000,0,76878.450,0.000,0.000,0.0,Consumer credit,-1710,NaN,6066884,-4,C
8,162297,5714470,Closed,currency 1,-1146,0,-811.0,-840.0,0.000,0,103007.700,0.000,0.000,0.0,Consumer credit,-840,NaN,6066884,-5,C
9,162297,5714471,Active,currency 1,-1146,0,-484.0,NaN,0.000,0,4500.000,0.000,0.000,0.0,Credit card,-690,NaN,6066884,-6,C
10,162297,5714472,Active,currency 1,-1146,0,-180.0,NaN,0.000,0,337500.000,0.000,0.000,0.0,Credit card,-690,NaN,6066884,-7,C
11,162297,5714473,Closed,currency 1,-2456,0,-629.0,-825.0,NaN,0,675000.000,0.000,0.000,0.0,Consumer credit,-706,NaN,6066884,-8,C
12,162297,5714474,Active,currency 1,-277,0,5261.0,NaN,0.000,0,7033500.000,NaN,NaN,0.0,Mortgage,-31,NaN,6066884,-9,C
13,402440,5714475,Active,currency 1,-96,0,269.0,NaN,0.000,0,89910.000,76905.000,0.000,0.0,Consumer credit,-22,NaN,6066884,-10,C
14,238881,5714482,Closed,currency 1,-318,0,-187.0,-187.0,NaN,0,0.000,0.000,0.000,0.0,Credit card,-185,NaN,6066884,-17,C
15,238881,5714484,Closed,currency 1,-2911,0,-2607.0,-2604.0,NaN,0,48555.000,NaN,NaN,0.0,Consumer credit,-2601,NaN,6066884,-19,C
16,238881,5714485,Closed,currency 1,-2148,0,-1595.0,-987.0,NaN,0,135000.000,NaN,NaN,0.0,Consumer credit,-984,NaN,6066884,-20,C
17,238881,5714486,Active,currency 1,-381,0,NaN,NaN,NaN,0,450000.000,520920.000,NaN,0.0,Consumer credit,-4,NaN,6066884,-21,C
18,238881,5714487,Active,currency 1,-95,0,1720.0,NaN,NaN,0,67500.000,8131.500,NaN,0.0,Credit card,-7,NaN,6066884,-22,C
19,238881,5714488,Closed,currency 1,-444,0,-77.0,-77.0,0.000,0,107184.060,0.000,0.000,0.0,Consumer credit,-71,NaN,6066884,-23,C
20,238881,5714489,Active,currency 1,-392,0,NaN,NaN,0.000,0,252000.000,23679.000,228320.100,0.0,Credit card,-22,NaN,6066884,-24,C
21,222183,5714491,Active,currency 1,-784,0,1008.0,NaN,0.000,0,0.000,-411.615,411.615,0.0,Credit card,-694,NaN,6066884,-26,C
22,222183,5714492,Active,currency 1,-774,0,625.0,NaN,NaN,0,127840.500,0.000,0.000,0.0,Credit card,-210,NaN,6066884,-27,C
23,222183,5714493,Active,currency 1,-395,0,1431.0,NaN,NaN,0,1350000.000,1185493.500,0.000,0.0,Consumer credit,-24,NaN,6066884,-28,C
24,222183,5714495,Closed,currency 1,-2744,0,-2561.0,-2559.0,310.500,0,18157.500,NaN,NaN,0.0,Consumer credit,-2559,NaN,6066884,-30,C
25,222183,5714496,Closed,currency 1,-1103,0,-7.0,-343.0,20493.270,0,675000.000,0.000,0.000,0.0,Consumer credit,-343,NaN,6066884,-31,C
26,222183,5714497,Active,currency 1,-315,0,1512.0,NaN,88821.000,0,3709552.500,NaN,NaN,0.0,Car loan,-32,NaN,6066884,-32,C
27,426155,5714498,Closed,currency 1,-1331,0,-994.0,-1023.0,1350.000,0,39433.500,0.000,0.000,0.0,Consumer credit,-1023,NaN,6066884,-33,C
28,426155,5714499,Closed,currency 1,-2534,0,-2352.0,-2347.0,NaN,0,38830.500,0.000,0.000,0.0,Consumer credit,-2345,NaN,6066884,-34,C
29,426155,5714500,Closed,currency 1,-845,0,-480.0,-480.0,0.000,0,67500.000,0.000,0.000,0.0,Consumer credit,-480,NaN,6066884,-35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716398,312021,5057541,Closed,currency 1,-1529,0,-829.0,-829.0,NaN,0,209898.000,0.000,NaN,0.0,Consumer credit,-824,NaN,5811918,-7,1
1716399,232638,5057553,Active,currency 1,-613,0,721.0,NaN,NaN,0,972000.000,886297.500,0.000,0.0,Credit card,-42,NaN,5811921,0,C
1716400,318662,5057561,Active,currency 1,-815,0,1011.0,NaN,NaN,0,147150.000,105358.500,0.000,0.0,Consumer credit,-70,NaN,5811921,-8,C
1716401,145715,5057569,Closed,currency 1,-2333,0,-2027.0,-1984.0,173.070,0,35032.500,0.000,0.000,0.0,Consumer credit,-1984,NaN,5811921,-16,C
1716402,352358,5057580,Closed,currency 1,-1714,0,-1530.0,-1564.0,NaN,0,35271.000,0.000,0.000,0.0,Consumer credit,-1532,NaN,5811921,-27,C
1716403,361928,5057589,Active,currency 1,-765,0,1061.0,NaN,NaN,0,1431000.000,1092226.500,0.000,0.0,Consumer credit,-126,NaN,5811921,-36,0
1716404,166279,5057599,Active,currency 1,-99,0,997.0,NaN,0.000,0,450000.000,432787.500,0.000,0.0,Consumer credit,-7,NaN,5811921,-46,0
1716405,438109,5057605,Closed,currency 1,-2390,0,-2053.0,-2082.0,11317.590,0,112204.350,0.000,0.000,0.0,Consumer credit,-2082,NaN,5811921,-52,0
1716406,335468,5057618,Closed,currency 1,-2517,0,-660.0,-2363.0,0.000,0,473940.000,0.000,0.000,0.0,Car loan,-2363,NaN,5811921,-65,X
1716407,146896,5057629,Closed,currency 1,-1990,0,-1244.0,-1248.0,NaN,0,90000.000,NaN,NaN,0.0,Consumer credit,-1248,NaN,5811921,-76,X
1716408,146896,5057632,Closed,currency 1,-434,0,-344.0,-344.0,NaN,0,234000.000,0.000,NaN,0.0,Credit card,-336,NaN,5811921,-79,X
1716409,146896,5057636,Closed,currency 1,-1705,0,-582.0,-582.0,0.000,0,0.000,0.000,0.000,0.0,Credit card,-582,NaN,5811921,-83,X
1716410,280228,5057642,Active,currency 1,-575,0,813.0,NaN,NaN,0,67500.000,0.000,0.000,0.0,Credit card,-46,NaN,5811922,-1,0
1716411,232118,5057652,Closed,currency 1,-821,0,-425.0,-545.0,0.000,0,108765.720,0.000,0.000,0.0,Consumer credit,-545,NaN,5811923,-5,0
1716412,288038,5057657,Active,currency 1,-541,0,7.0,NaN,NaN,0,225000.000,10971.000,0.000,0.0,Consumer credit,-11,NaN,5811923,-10,0
1716413,288038,5057665,Closed,currency 1,-463,0,-36.0,-36.0,6863.715,0,110878.470,0.000,0.000,0.0,Consumer credit,-33,NaN,5811923,-18,0
1716414,445222,5057676,Closed,currency 1,-1628,0,-1320.0,-1320.0,5693.625,0,57834.000,0.000,0.000,0.0,Consumer credit,-1320,NaN,5811925,-5,C
1716415,317217,5057684,Closed,currency 1,-1970,0,-1577.0,-1577.0,NaN,0,93955.500,NaN,NaN,0.0,Consumer credit,-1577,NaN,5811925,-13,C
1716416,433007,5057695,Closed,currency 1,-1100,0,-732.0,-731.0,NaN,0,98775.000,0.000,0.000,0.0,Consumer credit,-720,NaN,5811925,-24,C
1716417,433007,5057703,Active,currency 1,-740,0,31128.0,NaN,NaN,0,67500.000,2466.000,NaN,0.0,Credit card,-433,NaN,5811925,-32,C
1716418,433007,5057708,Closed,currency 1,-1389,0,-1299.0,-1299.0,0.000,0,334158.435,0.000,0.000,0.0,Consumer credit,-1299,NaN,5811925,-37,C
1716419,352790,5057718,Closed,currency 1,-1808,0,-1596.0,-1625.0,8100.000,0,28248.840,0.000,0.000,0.0,Consumer credit,-1625,NaN,5811925,-47,C
1716420,352790,5057725,Closed,currency 1,-99,0,-83.0,-98.0,NaN,0,27000.000,0.000,0.000,0.0,Consumer credit,-18,NaN,5811925,-54,C
1716421,375755,5057734,Closed,currency 1,-1335,0,-1152.0,-1152.0,NaN,0,195408.000,0.000,NaN,0.0,Consumer credit,-1139,NaN,5811925,-63,C
1716422,375755,5057742,Closed,currency 1,-2648,0,31129.0,-189.0,NaN,0,202500.000,0.000,NaN,0.0,Credit card,-109,NaN,5811925,-71,C
1716423,259355,5057750,Active,currency 1,-44,0,-30.0,NaN,0.000,0,11250.000,11250.000,0.000,0.0,Microloan,-19,NaN,5811925,-79,C
1716424,100044,5057754,Closed,currency 1,-2648,0,-2433.0,-2493.0,5476.500,0,38130.840,0.000,0.000,0.0,Consumer credit,-2493,NaN,5811925,-83,C
1716425,100044,5057762,Closed,currency 1,-1809,0,-1628.0,-970.0,NaN,0,15570.000,NaN,NaN,0.0,Consumer credit,-967,NaN,5811925,-91,C
1716426,246829,5057770,Closed,currency 1,-1878,0,-1513.0,-1513.0,NaN,0,36000.000,0.000,0.000,0.0,Consumer credit,-1508,NaN,5811931,-3,C
1716427,246829,5057778,Closed,currency 1,-463,0,NaN,-387.0,NaN,0,22500.000,0.000,NaN,0.0,Microloan,-387,NaN,5811931,-11,C

In [9]:
bureau_mearged.drop(['SK_ID_BUREAU_y'], axis=1, inplace=True)

In [11]:
# Groupby the client id (SK_ID_CURR), count the number of previous loans, and rename the column
previous_loan_counts = bureau_mearged.groupby('SK_ID_CURR', as_index=False)['SK_ID_BUREAU_x'].count().rename(columns = {'SK_ID_BUREAU_x': 'previous_loan_counts'})
previous_loan_counts.head()

   SK_ID_CURR  previous_loan_counts
0      100001                     7
1      100002                     8
2      100003                     4
3      100004                     2
4      100005                     3

In [12]:
categorical = pd.get_dummies(bureau_mearged.select_dtypes('object'))
categorical['SK_ID_CURR'] = bureau_mearged['SK_ID_CURR']
categorical.head()

,CREDIT_ACTIVE_Active,CREDIT_ACTIVE_Bad debt,CREDIT_ACTIVE_Closed,CREDIT_ACTIVE_Sold,CREDIT_CURRENCY_currency 1,CREDIT_CURRENCY_currency 2,CREDIT_CURRENCY_currency 3,CREDIT_CURRENCY_currency 4,CREDIT_TYPE_Another type of loan,CREDIT_TYPE_Car loan,...,CREDIT_TYPE_Unknown type of loan,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X,SK_ID_CURR
0,0,0,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,215354
1,1,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,215354
2,1,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,215354
3,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,215354
4,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,215354

In [13]:
categorical_grouped = categorical.groupby('SK_ID_CURR').agg('sum')
categorical_grouped.head()

,CREDIT_ACTIVE_Active,CREDIT_ACTIVE_Bad debt,CREDIT_ACTIVE_Closed,CREDIT_ACTIVE_Sold,CREDIT_CURRENCY_currency 1,CREDIT_CURRENCY_currency 2,CREDIT_CURRENCY_currency 3,CREDIT_CURRENCY_currency 4,CREDIT_TYPE_Another type of loan,CREDIT_TYPE_Car loan,...,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,3,0,4,0,7,0,0,0,0,0,...,0,0,3,0,0,0,0,0,4,0
100002,2,0,6,0,8,0,0,0,0,0,...,0,0,0,0,0,0,0,0,8,0
100003,1,0,3,0,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,0
100004,0,0,2,0,2,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
100005,2,0,1,0,3,0,0,0,0,0,...,0,0,0,0,0,1,2,0,0,0

In [14]:
continuous_var = [f for f in bureau_mearged.columns if bureau_mearged[f].dtype != 'object']

In [17]:
continuous_grouped = bureau_mearged.groupby('SK_ID_CURR').agg({k:lambda x: x.mean() for k in continuous_var})

In [18]:
print(categorical_grouped.shape)
print(continuous_grouped.shape)

(305811, 31)
(305811, 15)

In [19]:
# merge aggregated numerical and categorical columns
bureau_new = categorical_grouped.merge(continuous_grouped, how='left', left_on='SK_ID_CURR', right_index=True)

In [23]:
# merge aggregated numerical and categorical columns
bureau_final = bureau_new.merge(previous_loan_counts, how='left', left_on='SK_ID_CURR', right_index=True)

In [24]:
bureau_final.head()

,CREDIT_ACTIVE_Active,CREDIT_ACTIVE_Bad debt,CREDIT_ACTIVE_Closed,CREDIT_ACTIVE_Sold,CREDIT_CURRENCY_currency 1,CREDIT_CURRENCY_currency 2,CREDIT_CURRENCY_currency 3,CREDIT_CURRENCY_currency 4,CREDIT_TYPE_Another type of loan,CREDIT_TYPE_Car loan,...,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,MONTHS_BALANCE,SK_ID_CURR_y,previous_loan_counts
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,3,0,4,0,7,0,0,0,0,0,...,0.0,207623.571429,85240.928571,0.00000,0.0,-93.142857,3545.357143,-14.000,216378.0,6.0
100002,2,0,6,0,8,0,0,0,0,0,...,0.0,108131.945625,49156.200000,7997.14125,0.0,-499.875000,0.000000,-3.625,216379.0,1.0
100003,1,0,3,0,4,0,0,0,0,0,...,0.0,254350.125000,0.000000,202500.00000,0.0,-816.000000,NaN,-5.500,216380.0,8.0
100004,0,0,2,0,2,0,0,0,0,0,...,0.0,94518.900000,0.000000,0.00000,0.0,-532.000000,NaN,-5.500,216381.0,4.0
100005,2,0,1,0,3,0,0,0,0,0,...,0.0,219042.000000,189469.500000,0.00000,0.0,-54.333333,1420.500000,-41.000,216382.0,11.0

In [25]:
bureau_final.drop(['SK_ID_BUREAU_x'], axis=1, inplace=True)

In [26]:
bureau_final.to_csv('bureau_bureau_bal_agg.csv', index = False)