In [1]:
# import warnings filter
from warnings import simplefilter
# ignore all future warnings
simplefilter(action='ignore', category=FutureWarning)
#ignore all Depricated Warning
simplefilter(action='ignore', category=DeprecationWarning)
simplefilter(action='ignore', category=UserWarning)
simplefilter(action='ignore', category=RuntimeWarning)
import pandas as pd
import io
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
print ('Ran')

Ran

In [2]:
app_train = pd.read_csv('C:/Users/dbda/Desktop/Work/Imputed Train/imputed_train.csv')

In [3]:
print('Training data shape: ', app_train.shape)

Training data shape:  (307511, 466)

In [4]:
app_train.head()

,AMT_ANNUITY,AMT_ANNUITY_x,AMT_ANNUITY_y,AMT_APPLICATION,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_CREDIT_MAX_OVERDUE,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,...,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY.1,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE,TARGET,SK_ID_CURR
0,0.000000,24700.5,9251.775,179055.00,26793.606316,149727.272727,1312.010357,111388.838727,70223.142857,3198.8565,...,0.0,1,0.9722,0.9722,0.9722,0.6192,0.6243,0.6341,1,100002
1,5273.497207,35698.5,56553.990,435436.50,26793.606316,149727.272727,0.000000,254350.125000,0.000000,202500.0000,...,0.0,0,0.9851,0.9851,0.9851,0.7960,0.7987,0.8040,0,100003
2,5273.497207,6750.0,5357.250,24282.00,26793.606316,149727.272727,0.000000,94518.900000,0.000000,0.0000,...,0.0,0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7648,0,100004
3,5273.497207,29686.5,23651.175,272203.26,0.000000,270000.000000,0.000000,188810.835268,36886.500000,0.0000,...,0.0,1,0.9816,0.9816,0.9816,0.7552,0.7585,0.7648,0,100006
4,5273.497207,21865.5,12278.805,150530.25,26793.606316,149727.272727,0.000000,146250.000000,0.000000,0.0000,...,0.0,0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7648,0,100007

In [5]:
X = app_train.drop(['TARGET','SK_ID_CURR'],axis=1)
y = app_train['TARGET']

In [6]:
print(X.shape)
print(y.shape)

(307511, 464)
(307511,)

In [7]:
# Testing data features
app_test = pd.read_csv('C:/Users/dbda/Desktop/Work/Imputed Train/imputed_test.csv')

In [8]:
print('Testing data shape: ', app_test.shape)

Testing data shape:  (48744, 465)

In [9]:
train_sk_id_curr = app_train['SK_ID_CURR']
test_sk_id_curr = app_test['SK_ID_CURR']

In [10]:
app_test=app_test.drop('SK_ID_CURR',axis=1)

In [11]:
print('Testing data shape: ', app_test.shape)

Testing data shape:  (48744, 464)

In [12]:
app_test.head()

,AMT_ANNUITY,AMT_ANNUITY_x,AMT_ANNUITY_y,AMT_APPLICATION,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_CREDIT_MAX_OVERDUE,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,...,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY.1,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY.1,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE
0,1236.244186,20560.5,3951.000,24835.50,16381.567500,145843.373494,0.0,161516.250000,23893.770349,0.000000,...,0.0,0.0,0.0,0.0,0.9732,0.9732,0.9732,0.7552,0.7585,0.7583
1,608.785714,17370.0,4813.200,22308.75,16381.567500,145843.373494,0.0,175903.714286,132923.785714,0.000000,...,0.0,0.0,0.0,0.0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7583
2,0.000000,69777.0,11478.195,130871.25,18159.919219,131718.750000,19305.0,532530.923478,0.000000,0.000000,...,0.0,0.0,1.0,1.0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7583
3,1191.480605,49018.5,8091.585,49207.50,8085.058163,225000.000000,0.0,110187.861107,4962.624477,2934.137749,...,0.0,0.0,0.0,0.0,0.9970,0.9970,0.9970,0.9592,0.9597,0.9608
4,4189.362245,32067.0,17782.155,267727.50,16381.567500,145843.373494,0.0,183811.058824,25415.566390,0.000000,...,1.0,1.0,0.0,0.0,0.9816,0.9816,0.9816,0.7552,0.7585,0.7583

In [13]:
from sklearn.metrics import accuracy_score
from catboost import CatBoostClassifier

In [14]:
clf = CatBoostClassifier(iterations=500,
                              learning_rate=0.1,
                              depth=8,
                              loss_function='Logloss',
                              bootstrap_type='Bernoulli',
                              eval_metric='AUC',
                              class_weights=[1, 2],
                              random_seed=9, 
                              verbose=False)

In [15]:
clf.fit(X,y)
print('Fitted')

Fitted

In [16]:
y_pred = clf.predict_proba(app_test)[:,1]

In [18]:
submission = pd.DataFrame({'SK_ID_CURR': test_sk_id_curr, 'TARGET': y_pred})

In [19]:
submission.to_csv('C:/Users/dbda/Desktop/Work/CatBoost_v2/catboost_2.csv', index = False)