In [1]:
import pandas as pd
import numpy as np

# matplotlib and seaborn for plotting
import matplotlib.pyplot as plt
import seaborn as sns

# Suppress warnings from pandas
import warnings
warnings.filterwarnings('ignore')

plt.style.use('fivethirtyeight')

In [2]:
pos_cash= pd.read_csv('C:\\home-credit-default-risk\\POS_CASH_balance.csv')

pos_cash=pos_cash.iloc[0:1048575,:]

In [3]:
pos_cash.shape

(10001358, 8)

In [4]:
cat_features = [f for f in pos_cash.columns if pos_cash[f].dtype == 'object']
cat_features

['NAME_CONTRACT_STATUS']

In [5]:
cnt_col=[col for col in pos_cash.columns if 'CNT' in col]
cnt_col

['CNT_INSTALMENT', 'CNT_INSTALMENT_FUTURE']

In [6]:
continuous_var = [x for x in pos_cash.columns if x not in cat_features and x not in cnt_col]
continuous_var

['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'SK_DPD', 'SK_DPD_DEF']

In [7]:
df = pos_cash[continuous_var]
df.head()

   SK_ID_PREV  SK_ID_CURR  MONTHS_BALANCE  SK_DPD  SK_DPD_DEF
0     1803195      182943             -31       0           0
1     1715348      367990             -33       0           0
2     1784872      397406             -32       0           0
3     1903291      269225             -35       0           0
4     2341044      334279             -35       0           0

In [8]:
def agg_numeric(df, group_var):

    # Remove id variables other than grouping variable
    for col in df:
        if col != group_var and 'SK_ID' in col:
            df = df.drop(columns = col)
            
    group_ids = df[group_var]
    df[group_var] = group_ids

    # Group by the specified variable and calculate the statistics
    agg = df.groupby(group_var).agg('mean').reset_index()

    return agg

In [9]:
num_group_df = agg_numeric(df.drop(columns = ['SK_ID_PREV']), group_var = 'SK_ID_CURR')
num_group_df.head()

   SK_ID_CURR  MONTHS_BALANCE    SK_DPD  SK_DPD_DEF
0      100001      -72.555556  0.777778    0.777778
1      100002      -10.000000  0.000000    0.000000
2      100003      -43.785714  0.000000    0.000000
3      100004      -25.500000  0.000000    0.000000
4      100005      -20.000000  0.000000    0.000000

In [10]:
categorical = pd.get_dummies(pos_cash[cat_features])
categorical['SK_ID_CURR'] = pos_cash['SK_ID_CURR']

categorical.head()

,NAME_CONTRACT_STATUS_Active,NAME_CONTRACT_STATUS_Amortized debt,NAME_CONTRACT_STATUS_Approved,NAME_CONTRACT_STATUS_Canceled,NAME_CONTRACT_STATUS_Completed,NAME_CONTRACT_STATUS_Demand,NAME_CONTRACT_STATUS_Returned to the store,NAME_CONTRACT_STATUS_Signed,NAME_CONTRACT_STATUS_XNA,SK_ID_CURR
0,1,0,0,0,0,0,0,0,0,182943
1,1,0,0,0,0,0,0,0,0,367990
2,1,0,0,0,0,0,0,0,0,397406
3,1,0,0,0,0,0,0,0,0,269225
4,1,0,0,0,0,0,0,0,0,334279

In [11]:
cat_group_df = categorical.groupby('SK_ID_CURR').agg('sum').reset_index()
cat_group_df.head(20)

,SK_ID_CURR,NAME_CONTRACT_STATUS_Active,NAME_CONTRACT_STATUS_Amortized debt,NAME_CONTRACT_STATUS_Approved,NAME_CONTRACT_STATUS_Canceled,NAME_CONTRACT_STATUS_Completed,NAME_CONTRACT_STATUS_Demand,NAME_CONTRACT_STATUS_Returned to the store,NAME_CONTRACT_STATUS_Signed,NAME_CONTRACT_STATUS_XNA
0,100001,7.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
1,100002,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100003,26.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
3,100004,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,100005,9.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
5,100006,18.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0
6,100007,62.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0
7,100008,78.0,0.0,0.0,0.0,4.0,0.0,0.0,1.0,0.0
8,100009,57.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0
9,100010,10.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
10,100011,73.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
11,100012,43.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
12,100013,32.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0
13,100014,15.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
14,100015,10.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
15,100016,64.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
16,100017,30.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
17,100018,23.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
18,100019,7.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19,100020,13.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [12]:
cnt = pos_cash[cnt_col]
cnt
#cnt['SK_ID_CURR'] = posh_cash['SK_ID_CURR']
cnt['SK_ID_CURR'] = pos_cash['SK_ID_CURR']

In [13]:
cnt_group_df = cnt.groupby('SK_ID_CURR').agg('sum').reset_index()
cnt_group_df.head()

   SK_ID_CURR  CNT_INSTALMENT  CNT_INSTALMENT_FUTURE
0      100001            36.0                   13.0
1      100002           456.0                  285.0
2      100003           283.0                  162.0
3      100004            15.0                    9.0
4      100005           117.0                   72.0

In [14]:
cat_num_merge=num_group_df.merge(cat_group_df,on='SK_ID_CURR')

In [15]:
cat_num_merge=cat_num_merge.merge(cnt_group_df,on='SK_ID_CURR')

In [16]:
cat_num_merge.head(20)

,SK_ID_CURR,MONTHS_BALANCE,SK_DPD,SK_DPD_DEF,NAME_CONTRACT_STATUS_Active,NAME_CONTRACT_STATUS_Amortized debt,NAME_CONTRACT_STATUS_Approved,NAME_CONTRACT_STATUS_Canceled,NAME_CONTRACT_STATUS_Completed,NAME_CONTRACT_STATUS_Demand,NAME_CONTRACT_STATUS_Returned to the store,NAME_CONTRACT_STATUS_Signed,NAME_CONTRACT_STATUS_XNA,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE
0,100001,-72.555556,0.777778,0.777778,7.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,36.0,13.0
1,100002,-10.000000,0.000000,0.000000,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,456.0,285.0
2,100003,-43.785714,0.000000,0.000000,26.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,283.0,162.0
3,100004,-25.500000,0.000000,0.000000,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,15.0,9.0
4,100005,-20.000000,0.000000,0.000000,9.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,117.0,72.0
5,100006,-9.619048,0.000000,0.000000,18.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,240.0,173.0
6,100007,-33.636364,0.000000,0.000000,62.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,1012.0,592.0
7,100008,-43.662651,339.060241,0.000000,78.0,0.0,0.0,0.0,4.0,0.0,0.0,1.0,0.0,956.0,341.0
8,100009,-33.062500,0.000000,0.000000,57.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,504.0,242.0
9,100010,-30.000000,0.000000,0.000000,10.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,110.0,55.0
10,100011,-46.400000,205.666667,0.346667,73.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1439.0,525.0
11,100012,-22.086957,0.000000,0.000000,43.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,875.0,470.0
12,100013,-29.555556,0.944444,0.000000,32.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,770.0,551.0
13,100014,-18.250000,0.000000,0.000000,15.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,174.0,93.0
14,100015,-74.000000,1.181818,1.181818,10.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,110.0,55.0
15,100016,-48.253731,0.000000,0.000000,64.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,1289.0,686.0
16,100017,-33.387097,0.000000,0.000000,30.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,590.0,345.0
17,100018,-33.880000,0.000000,0.000000,23.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,253.0,139.0
18,100019,-27.500000,0.000000,0.000000,7.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,91.0,63.0
19,100020,-9.000000,0.000000,0.000000,13.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,98.0,56.0

In [17]:
posh_aggregate=cat_num_merge.to_csv("C:\\home-credit-default-risk\\result\\posh_cash_arregate.csv",index=False)